


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    
    /*
	font: inherit;
    vertical-align: baseline;
    */
}
/* HTML5 display-role reset for older browsers */  

.remove-scroll{
    overflow: hidden;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background: #fff6e5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Painel ADM*/

/*---------- Nav---------- */


.perfil img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.menu{
    background-color: #c31181;
    color: #fff;
}
.alerta{
    float: left;
    padding:15px;
}
.alerta ul {
    border-right: 1px solid #fff;
}
.alerta ul li{
    display: inline;
    color: #fff; 
}

.perfil{
    float: left;
    padding:10px 0;
    cursor: pointer;
}
.perfil strong{
    padding:5px 0;
    color: #fff;
}
.alerta ul li:last-child{
    margin-right: 20px;
}
.perfil button{
    background: none;
    border:none;
    color: #fff;
}

.perfil button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.dropdown-menu {
    margin-top:15px;
    width:180px;
    background: #c31181;
    border:0;
}
.dropdown-menu a {
    color:#fff;
}
.dropdown-menu a:hover{
    background:#f6a20b;
    color:#fff;
}


/*------------ Painel --------- */
.painel{
    background-color: #f6a20b;
    width: 250px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
    height: calc(100vh - 57px);
}
.painel img{
    width:150px;
    height:150px;
}
.painel h1{
    padding-top: 20px;
    font-weight: 600;
}
.painel ul{
    padding-top: 30px;
}
.painel ul li{
     padding:5px;
     color: #fff;
}
.nopadding{
    padding-left: 0!important;
}
/*------------ Painel Feature  --------- */

.painel i {
    margin-right:6px;
    color: #c31181;
    font-size: 20px;
    background: #FFF;
    padding:10px;
    border-radius: 50%;
}
.painel a{
    font-size: 15px;
}
.painel ul li {
    padding:15px;
}

/*upload*/

.sessao{
    padding-top:5%;
    color:#c31181;
    font-size: 1.5em;
}

.produto{
    padding-top:50px;
}

.produto img{
    width: 200px;
    height: 200px;
}
.edit-btn{
    margin-top:10px;
}

.modal-edit{
    text-align: center;
}

.modal-edit img{
    width: 300px;
    height: 300px;
}