


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    
    /*
	font: inherit;
    vertical-align: baseline;
    */
}
/* HTML5 display-role reset for older browsers */  

.remove-scroll{
    overflow: hidden;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background: #fff6e5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Painel ADM*/

/*---------- Nav---------- */


.perfil img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.menu{
    background-color: #c31181;
    color: #fff;
}
.alerta{
    float: left;
    padding:15px;
}
.alerta ul {
    border-right: 1px solid #fff;
}
.alerta ul li{
    display: inline;
    color: #fff; 
}

.perfil{
    float: left;
    padding:10px 0;
    cursor: pointer;
}
.perfil strong{
    padding:5px 0;
    color: #fff;
}
.alerta ul li:last-child{
    margin-right: 20px;
}
.perfil button{
    background: none;
    border:none;
    color: #fff;
}

.perfil button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.dropdown-menu {
    margin-top:15px;
    width:180px;
    background: #c31181;
    border:0;
}
.dropdown-menu a {
    color:#fff;
}
.dropdown-menu a:hover{
    background:#f6a20b;
    color:#fff;
}


/*------------ Painel --------- */
.painel{
    background-color: #f6a20b;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    color: #fff;
    height: 100%;   
}
.painel img{
    width:130px;
    height:130px;
}
.painel h1{
    padding-top: 20px;
    font-weight: 600;
}
.painel ul{
    padding-top: 30px;
}
.painel ul li{
     padding:5px;
     color: #fff;
}
.nopadding{
    padding-left: 0!important;
}
/*------------ Painel Feature  --------- */

.painel i {
    margin-right:6px;
    color: #c31181;
    font-size: 20px;
    background: #FFF;
    padding:10px;
    border-radius: 50%;
}
.painel a{
    font-size: 15px;
}
.painel ul li {
    padding:15px;
}

/* Container Edit sobre caixa */

.sessao{
    font-size: 20px;
    padding-left:10px;
    padding-top:30px;
    padding-bottom:10px;
    color:#c31181;
}

.edit-sobre-caixa {
    padding: 40px 0;
    background: #c31181;
    color:#fff;
    margin-bottom: 10px;
}
.edit-sobre-caixa img{
    width: 350px;
    height: 400px;
    border: 5px solid #fff;
}
.edit-sobre-caixa-img{
    padding-right: 50px;
    text-align: right;
}
.edit-sobre-caixa-text{
    padding:30px;
}
.modal-saiba-mais{
    background: #FFF;
    padding: 8px 20px;
    border-radius: 5px;
    color: #c31181;
}
.modal-saiba-mais:hover{
    color: #f6a20b;
}

/* Inserir novo produto*/


.edit-input input{
    width:100%;
    height: 200px;
}

.custom-file-label{

}
/*Edit Lista Produto*/


.lista-produto{
    text-align: center;
    margin: 10px 0px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
        box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}
.produto{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}
.descricao-produto{
    text-align: left;
    padding:10px;   
}
.descricao-produto h3{
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.descricao-produto p {
    padding-bottom: 15px;
    font-size: 15px;
}
.descricao-produto button{
    padding: 8px 20px;
    background: #f6a20b;
    color: #fff;
    border-radius:5px;
    font-size: 1em;
}
.modal-edit{
    text-align: center;
}
.modal-edit img{
    width: 300px;
    height: 300px;
    padding-top:20px;
    padding-bottom: 20px;
}
.edit-descricao{
    text-align: left;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Upload";
}
.btn-add i {
    font-size: 2em;
    padding-top: 5px;
    color:green;

}

.edit-ipt:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.edit-ipt:lang(en)~.custom-file-label::after {
    content: "";
    border: 0px;
}

.edit-label{
    border:0px;
}

.edit-label::after{
    background:none;
    border:0px;
}

.edit-label p {
    position: absolute;
    top:170px;
    left: 70px;
    text-shadow: 0px 0px 5px black;
    color: #fff;
}
.btn-success{
    padding: 7px 10px;
}
.btn-success:hover{
    background-color: #28a745;
    border-color: #28a745;
}